*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: segoe UI;
}

html,body{
    height: 100%;
    width: 100%;
}

body{
    background-color: black;
}

main{
    width: 100%;
    background-color: #E4FF6E;
}

nav{
    width: 100%;
    padding: 50px 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav .part2{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 140px;
}
nav h2{
    font-size: 50px;
    font-weight: 500;
}

nav a{
    text-decoration: none;
    font-size: 40px;
    font-weight: 100;
    color: black;
}

section{
    padding:60px 100px;
}

section .hero-text1{
   display: flex;
   align-items: flex-start;
   justify-content: space-between;
}

.hero-text1 h1{
    font-size: 400px;
    text-transform: uppercase;
    font-weight: 900;
    line-height: 300px;
}

.hero-text1 .video{
    height: 150px;
    width: 600px;
    background-color: black;
    border-radius: 150px;
    margin-top: 30px;
    background-image: url(https://images.unsplash.com/photo-1742403412746-8e4cf1728117?w=600&auto=format&fit=crop&q=60&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHx0b3BpYy1mZWVkfDEzM3xDRHd1d1hKQWJFd3x8ZW58MHx8fHx8);
    background-size: cover;
    padding: 15px;
}

.video .play{
    height: 100%;
    width: 120px;
    background-color: black;
    border-radius: 100px;
    border: 2px solid wheat;
   display: flex;
   align-items: center;
}

.play i{
    font-size: 50px;
    color: white;
    padding-left: 35px;
}

section .hero-text2{
   display: flex;
   align-items: flex-start;
   justify-content: space-between;
}

.hero-text2 h1{
    font-size: 400px;
    text-transform: uppercase;
    font-weight: 900;
    line-height: 300px;
    padding-top: 30px;
}

.hero-text2 p{
    font-size: 40px;
    width: 900px;
    text-transform: uppercase;
    font-weight: 300;
    line-height: 50px;
    padding-top: 100px;
}

.image{
    height: 1200px;
    width: 90%;
    background-color: rosybrown;
    border-top-left-radius: 200px;
    border-top-right-radius: 200px;
    margin-left: 150px;
    background-image: url(https://images.unsplash.com/photo-1762247420733-af349e90ade5?w=600&auto=format&fit=crop&q=60&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHx0b3BpYy1mZWVkfDE0MHxDRHd1d1hKQWJFd3x8ZW58MHx8fHx8);
    background-size: cover;
    background-position: center;
    position: relative;
    margin-top: 100px;
}

.image .arrow{
    height: 300px;
    width: 300px;
    background-color: black;
    border-radius: 50%;
    position: absolute;
    right: 5%;
    top: -10%;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

.arrow i{
   font-size: 200px;
}