*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
    height: 100%;
    width: 100%;
}
h1{
    color: antiquewhite;
    background-color: brown;
    font-size: 100px;
    font-family: arial;
    font-weight: 500;
    font-style: italic;
    text-align : center;
}