*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,body{
    height: 100%;
    width: 100%;
}

/*#box{
    height: 400px;
    width: 500px;
    background-color: blanchedalmond;
    margin: 50px;
    padding: 220px;
}*/

/*button{
    margin: 40px;
    font-size: 20px;
    padding: 15px 30px;
    background-color: rgb(18, 5, 254);
    color: rgb(241, 13, 191);
    font-weight: 600;
    border: 2px solid black;
    border-radius: 10px;
}

button:hover{
    background-color: seashell;
}*/  

body{
    background-color: black;
}

/*#box1{
    height: 200px;
    width: 200px;
    background-color: cyan;
    border: 2px solid white;
    border-radius: 10px;

    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50% ,-50%);
    z-index: 9;
}

#box2{
    height: 200px;
    width: 200px;
    background-color: yellow;
    border: 2px solid white;
    border-radius: 10px;
}*/

/*h1{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50% , -50%);
    color: thistle;
    text-align: center;
    font-size: 60px;
    font-family: arial;
    font-weight: 700;
}

h1 span{
    background-color: beige;
    color: rgb(0, 0, 0);
    font-style: italic;
    font-weight: 400;
    font-family: none;
    border-radius: 15px;
    padding: 5px 35px;
}*/

#parent{
    height: 100%;
    width: 100%;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.child{
    height: 200px;
    width: 200px;
    background-color: darkcyan;
    border: 2px solid white;
    background-image: url(https://plus.unsplash.com/premium_photo-1765544177940-818b43c14d38?w=600&auto=format&fit=crop&q=60&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxmZWF0dXJlZC1waG90b3MtZmVlZHwxMTd8fHxlbnwwfHx8fHw%3D);
    background-size: cover;
    background-position: center;
}